$nhs-blue:         #0066CC;
$nhs-dark-green:   #003300;
$nhs-green:        #009933;
$nhs-light-green:  #66CC33;
$nhs-aqua-green:   #009966;
$nhs-aqua-blue:    #0099CC;
$nhs-light-blue:   #0099FF;
$nhs-dark-blue:    #0066CC;
$nhs-purple:       #330099;
$nhs-dark-pink:    #990066;
$nhs-dark-red:     #990000;
$nhs-red:          #CC0000;
$nhs-orange:       #FF6600;
$nhs-yellow:       #FFFF00;
$nhs-black:        #000000;
$nhs-white:        #FFFFFF;