@{
    ViewBag.Title = "Home Page";
}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>
<div class="row">
    <div class="col-md-6">

        <h1>CUI Compliance</h1>
        <ol>
            <li><a asp-action="PatientBanner">Patient Banner</a></li>
            <li><a asp-action="PatientList">Patient List</a></li>
            <li><a asp-action="Date">Date and Time</a></li>
            <li><a asp-action="NhsNumber">NHS Number Input and Display</a></li>
            <li><a asp-action="PatientName">Patient Name Input and Display</a></li>
            <li><a asp-action="Gender">Sex and Current Gender Input and Display</a></li>
            <li><a asp-action="Address">Address Input and Display</a></li>
            <li><a asp-action="TelephoneNumber">Telephone Number Input and Display</a></li>
            <li><a asp-action="Snomed">Snomed</a></li>
        </ol>

    </div>
</div>
