@{
    ViewBag.Title = "Patient Banner";
}

<div class="patient-banner">
    <div class="row">
        <div class="col-sm-4">
            <h4>HAMMOND, Matthew</h4>
        </div>
        <div class="col-sm-4 text-right">
            <h5>
                <i>Gender</i> <b>Male</b>
            </h5>
        </div>
        <div class="col-sm-4 text-right">
            <h5><i>NHS No.</i> <b>123 546 789</b></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 "style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
            <h6><i>Address</i> <b >18 Orchard Cottage, King’s Road, Ipswich, Northshire, NS33 8KR</b></h6>
        </div>
        <div class="col-md-4">
            <h6><i>Phone</i> <b>123 546 789</b></h6>
</div>
        <div class="col-md-3 text-right">
            <h6><i>Allergies</i> <b>None</b></h6>
</div>
    </div>
</div>



