@{
    ViewBag.Title = "Patient Banner";
}

<div class="well">

    <div class="row">
        <div class="col-md-6">

            <h2>HAMMOND, Matthew</h2>
        </div>
        <div class="col-md-3">
            <i>Gender</i> <b>Male</b>
        </div>
        <div class="col-md-3">
            <i>NHS No.</i> <b>123 546 789</b>
        </div>

    </div>
    <div class="row">
        <div class="col-md-5">
            <i>Address</i> <b>Male</b>
        </div>
        <div class="col-md-3">
            <i>Phone</i> <b>123 546 789</b>
        </div>
        <div class="col-md-3">
            <i>Allergies</i> <b>None</b>
        </div>
    </div>


</div>